xAFCL.jar
credentials.properties
deploy.json
env
node_modules
aws/.terraform
aws/.terraform.lock.hcl
aws/terraform.tfstate
aws/terraform.tfstate.backup
aws/credentials
js-functions-amazon/ir-split.zip
py-functions-amazon/preprocess-imgs.zip
aws/.terraform.tfstate.lock.info
py-functions-amazon/ir-convolute-reduce.zip
js-functions-amazon/ir-reduce.zip
.DS_Store
docker/credentials
ibm/.terraform
ibm/.terraform.lock.hcl
ibm/terraform.tfstate
ibm/terraform.tfstate.backup
ibm/functions/ir-convolute-reduce.zip
ibm/functions/ir-reduce.zip
ibm/functions/ir-split.zip
ibm/functions/preprocess-imgs.zip
ibm/s3Credentials.json
ibm/terraform.tfvars
aws/lambda-functions/preprocess-imgs.zip
aws/lambda-functions/ir-split.zip
aws/lambda-functions/ir-reduce.zip
aws/lambda-functions/ir-convolute-reduce.zip
aws/tmp/ir-convolute-reduce.zip
aws/tmp/ir-reduce.zip
aws/tmp/ir-split.zip
aws/tmp/preprocess-imgs.zip
ibm/tmp/ir-convolute-reduce.zip
ibm/tmp/ir-reduce.zip
ibm/tmp/ir-split.zip
ibm/tmp/preprocess-imgs.zip